.page {
    background-color: whitesmoke;
    font-family: roboto slab;
    width: 100%;
    
}

.header-container {
    /* width: inherit; */
    border-bottom: 5px dotted black;
    display: flex;
    justify-content: space-between;
}

.name-container {
    display: flex;
}

.name {
    font-size: 50px;
    font-weight: bolder;
    margin-left: 25px;
    margin-right: 25px;
}

.nav-container {
    float: right;
    margin: 25px 25px;
    font-weight: bold;}

.nav-items {
    align-items: center;
    margin: 0px 25px;
}

.nav-item {
    display: inline-block;
    margin: 10px;
    align-items: right;
}

a {
    text-decoration: none;
}

.main-container {
    
}

.about-me-container {
    width: fit-content;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
}

.about-me-p {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.picture-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.my-picture {
    max-width: 20%;
    max-height: 20%;
}

.project-container {

}

.projects {

}

.itemized-projects {
    list-style-type: none;
}

#projects {
    margin: 10px 0px;
}

.first-project {

}

.second-project {

}

.third-project {

}

.skills-container {
    
}

.skills {
    text-align: center;
}

.skills-cions {
       
    width: 100%;
    justify-content: center;

}

#skills-icons {
    display: inline-block;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.signoff {

}
